{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products</h1>
    <ul>
    {% for product in products %}
        <li>{{ product.name }} - {{ product.price }}</li>
    {% endfor %}
    </ul>
    <a href="{{ path('product_new') }}">Add new</a>
{% endblock %}
